.carrito-container{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    height: 100vh;
    
}
.carrito-prodcuctos{
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 10px;
    padding: 30px;
    width: 60%;
}
.img-cart{
    width: 200px;
}
.main-title{
    font-size: 48px;
    margin-bottom: 30px;
}
.carrito-btn{
    border-radius: 10px;
    background: #120d1e;
    color: #fff;
    border: none;
    box-shadow: rgba(137, 123, 123, 0.484) 5px 2px 10px 0px;
    transition: .4s;
    padding: 10px 30px;
   
}
.carrito-btn:hover{
    background:#ffffff ;
    transition: .4s;
    color: #000;
}

.carrito-precio{
    color: #000000;
}
.carrito-total{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 200px;
    border-top: solid 2px;
    border-bottom: solid 3px;
}
.prod-carrito{
    justify-content: center;
    display: flex;
    gap: 50px;
}
.btns-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.comprar-btn{
    border-radius: 10px;
    padding: 10px 30px;
    text-decoration: none;
    background: #120d1e;
    color: #fff;
    border: none;
    box-shadow: rgba(137, 123, 123, 0.484) 5px 2px 10px 0px;
    transition: .4s;
}
.comprar-btn:hover{
    background:#ffffff ;
    transition: .4s;
    color: #000;
}

.comprar-btn-home{
    border-radius: 10px;
    padding: 10px 30px;
    text-decoration: none;
    background: #120d1e;
    color: #fff;
    border: none;
    box-shadow: rgba(137, 123, 123, 0.484) 5px 2px 10px 0px;
    transition: .4s;
}
.comprar-btn-home:hover{
    background:#ffffff ;
    transition: .4s;
    color: #000;
}