/* Header.css */
.carousel .thumbs-wrapper {
  display: none; /* Ocultar las miniaturas */
}
/* Header.css */





.img-header{
  height: 100%;
}

.control-arrow {
 display: none;
}

.control-dots{
  display: none;
}
.carousel-status{
  display: none;
}
