.nav-container{
  color: #ffffff;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: #120d1e;
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    box-shadow: #000 0px 0px 20px -5px;
    
    
}
.navbar-logo{
  text-decoration: none;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    
    height: 80px;
    
    
}
.Carrito-logo{
    color: #ffffff;
    font-size: 40px;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none; 
}
.cart:hover{
  color:#eb5915 ; 
    transition: .2s; 
}
.navbar-categorias{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
   
    
    gap: 20px;
}

.menu-link{
  text-decoration: none;
  margin-right: 50px;
}
.cart{
  color: #ffffff;
  font-size: 30px;
  transition: .4s; 
}
.cart-cantidad{
  color: #ffffff;
  font-family: Poppins;
  margin-left: 10px;
}

.categoria-item {
    text-decoration: none;
    
    color: #ffffff;
    background-color: #ffffff00;
    cursor: pointer;
    border: none;
    position: relative;
    overflow: hidden; 
    font-size: 14px;
    
    font-family:"Poppins";
  }
  
  .categoria-item::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; 
    height: 1px;
    background-color: #fffcfc; 
    transition: width 0.3s ease; 
    

  }
  
  .categoria-item:hover::after,
  .categoria-item::before {
    width: 100%; 
  }
  
  .categoria-item::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    opacity: 0; 
    transition: opacity 0.3s ease; 
  }
  
  .categoria-item:hover::before {
    opacity: 1; 
  }
  

  /* Agrega los estilos para el botón hamburguesa y el diseño responsive aquí */
.menu-button {
  display: none; /* Oculta el botón en pantallas grandes */
  cursor: pointer;
  padding: 10px;
  
}

.menu-button .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
  
}

.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
  
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
  
}

/* Estilos para mostrar/ocultar las categorías en pantallas pequeñas con animación */
@media (max-width: 768px) {
  .navbar-categorias {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #fff;
    position: absolute;
    top: 62px;
    left: 0;
    z-index: 1;
    box-shadow: #000 0px 20px 60px -15px;
    transition: all 0.5s ease-in-out; /* Agregamos animación */
  }

  .navbar-categorias.open {
    display: flex;
    height: auto;
    animation: slide-down 0.4s ease-in-out; /* Agregamos animación */
  }

/* Definimos la animación */
@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

  .navbar-categorias li {
    padding: 10px;
    
  }

  .navbar-categorias a {
    font-size: 16px;
  }

  .menu-button {
    display: block; /* Muestra el botón en pantallas pequeñas */
  }
}




