.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #120d1e;
   
}
.footer-titulo-parrafo{
    color: #ffffff;
    width: 300px;
}

.footer-redes-titulo{
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
}
.redes-footer{
    color: #fff;
    color: #fff;
    font-size: 50px;
    display: flex;
    justify-content: space-around;
}
.footer-link{
    cursor: pointer;
    transition: .4s; 
}
.footer-link:hover{
    color:#eb5915 ; 
    transition: .2s; 
}
